<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <h1>회원가입</h1>
        
        <input type="email" placeholder="아이디(@dankook.ac.kr)">
        <p class="info-text"> ※단국대 이메일(@dankook.ac.kr)만 사용 가능합니다.</p>
        <input type="text" placeholder="이름">
        <input type="password" placeholder="비밀번호">
        <input type="password" placeholder="비밀번호 확인">

        <button>회원가입</button>

        <p class="bottom-text">
        이미 계정이 있으신가요?
        <a href="login.html">로그인</a>
        </p>
    </div>

</body>
</html>